Package: com.hassany.horrorhouse
Name: الحسني في البيت المهجور
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: لعبة رعب احترافية بجويستيك ببجي وأنيميشن صاعق
Maintainer: Hassany
Author: Hassany
Section: Games

